.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Optional padding */
    background-color: #4c0099;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header .left {
    /* Aligns Murali to the left */
    font-size: 25px; /* Adjust the font size as needed */
    font-family: Georgia;
    font-weight: bold;
}

.header .left a {
    text-decoration: none;
    color: white;
}

.header .left a:hover {
    color: #e0e0e0;
}

.header-link {
    margin-right: 10px;
    margin-left: 10px;
}

.header .right {
    /* Aligns the link to the right */
    text-align: right;
}

.header .right a {
    text-decoration: none; /* Removes the underline from the link */
    color: white; /* Adjusts the link color */
}

.header .right a:hover {
    color: #e0e0e0;
}

body {
    font-family: Roboto, sans-serif;
    /* margin-left: 75px;
    margin-right: 300px; */
    padding: 0;
}

.container {
    display: flex;
    margin-top: 40px;
}

.sidebar {
    width: 250px;
    padding: 15px;
    background-color: #ffffff;
    /* border-right: 1px solid #ddd; */
    text-align: center;
}

/* Image Styling */
.sidebar-image {
    width: 200px; /* Adjusts width of the image to 80% of the sidebar's width */
    border-radius: 50%; /* Makes the image circular (optional) */
    margin-bottom: 10px; /* Adds space below the image */
    align-content: center;
}

.name {
    font-size: 23px;
    font-family: Georgia;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sml-text-col {
    font-size: 14px;
    margin-top: 0px;
    color: gray;
}

.content {
    flex: 1;
    padding: 20px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.dropdown-menu {
    display: none;
    background-color: #4c0099;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
}

.dropdown-menu a {
    display: none;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.container a {
    text-decoration: none;
    color: #4c0099;
}

.container a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
    }

    .header .right {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .dropdown-menu a {
        display: block;
    }

    .menu-icon a:hover {
        color: #e0e0e0;
    }

    .dropdown-menu a:hover {
        background-color: #330066;
        color: #e0e0e0;
        border: 1px solid gray;
        border-radius: 8px; /* Adjust the value for more or less rounded corners */
    }
}

h1,
h2,
h3 {
    font-family: Georgia;
}

.sidebar-icon {
    color: #333; /* Adjust color as needed */
    font-size: 50px; /* Adjust size as needed */
    text-decoration: none;
    margin: 20px 10px;
}

.sidebar-icon:hover {
    color: #007bff; /* Adjust hover color as needed */
}

.email-link {
    color: #333; /* Adjust color as needed */
    font-size: 40px; /* Adjust size as needed */
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
}

.email-link:hover {
    color: #007bff; /* Adjust hover color as needed */
}
