.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Optional padding */
}

.left {
    /* Aligns Murali to the left */
    font-size: 25px; /* Adjust the font size as needed */
    font-family: Georgia;
    font-weight: bold;
}

.left a {
    text-decoration: none;
    color: purple;
}

.right {
    /* Aligns the link to the right */
}

.right a {
    text-decoration: none; /* Removes the underline from the link */
    color: purple; /* Adjusts the link color */
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    padding: 15px;
    height: 100vh;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
}

.content {
    flex: 1;
    padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
}

h1,
h2,
h3 {
    font-family: Georgia;
}
