<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{site.title}}</title>
        <link
            rel="stylesheet"
            href="{{ '/assets/css/custom.css' | relative_url }}"
        />
    </head>
    <body>
        <div class="header">
            <span class="left"><a href="{{site.url}}">{{site.title}}</a></span>
            <span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
            <div class="right">
            {% for page in site.pages %} {% if page.linktoheader == true %}
            <span class="header-link"><a href="{{page.url}}">{{page.title}}</a></span>
            {% endif %} {% endfor %}
            </div>
            <div class="dropdown-menu" id="dropdownMenu">
                {% for page in site.pages %} {% if page.linktoheader == true %}
                <a href="{{page.url}}">{{page.title}}</a>
                {% endif %} {% endfor %}
            </div>
        </div>
        
        <script>
            function toggleMenu() {
                var dropdownMenu = document.getElementById("dropdownMenu");
                if (dropdownMenu.style.display === "block") {
                    dropdownMenu.style.display = "none";
                } else {
                    dropdownMenu.style.display = "block";
                }
            }
        </script>

        <div class="container">
            <!-- Sidebar -->
            <aside class="sidebar">
                <img
                    src="{{site.url}}/images/profile.jpeg"
                    alt="Your Name"
                    class="sidebar-image"
                />
                <p class="name">{{site.title}}</p>
                <p class="sml-text-col">{{site.description}}</p>
                <p class="sml-text">
                    Email: <a href="mailto:{{site.email}}">{{site.email}}</a>
                </p>
            </aside>

            <!-- Main Content -->
            <main class="content">{{ content }}</main>
        </div>
    </body>
</html>
