<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{site.title}}</title>
        <link
            rel="stylesheet"
            href="{{ '/assets/css/custom.css' | relative_url }}"
        />
        <link 
            rel="stylesheet"
            href="{{ '/assets/css/publications.css' | relative_url }}"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <header class="main-header">
            <div class="header-container">
                <span class="left"
                    ><a href="{{site.url}}">{{site.title}}</a></span
                >
                <span class="menu-icon" onclick="toggleMenu()">&#9776;
                    <div class="dropdown-menu" id="dropdownMenu">
                        {% for page in site.pages %} {% if page.linktoheader == true
                        %}
                        <a href="{{page.url}}">{{page.title}}</a>
                        {% endif %} {% endfor %}
                    </div>
                </span>
                <div class="right">
                    {% for page in site.pages %} {% if page.linktoheader == true
                    %}
                    <span class="header-link"
                        ><a href="{{page.url}}">{{page.title}}</a></span
                    >
                    {% endif %} {% endfor %}
                </div>

            </div>
        </header>

        <script>
            function toggleMenu() {
                var dropdownMenu = document.getElementById("dropdownMenu");
                if (dropdownMenu.style.display === "block") {
                    dropdownMenu.style.display = "none";
                } else {
                    dropdownMenu.style.display = "block";
                }
            }
        </script>

        <div class="container">
            <!-- Sidebar -->
            <aside class="sidebar">
                <img
                    src="{{site.url}}/images/profile.jpeg"
                    alt="Your Name"
                    class="sidebar-image"
                />
                <p class="name">{{site.title}}</p>
                <p class="sml-text-col">{{site.description}}</p>
                <span>
                    <a href="mailto:{{site.email}}" class="email-link">
                        <i class="fas fa-envelope"></i>
                        <!-- Font Awesome Mail Icon -->
                    </a>
                </span>
                <span>
                    <a
                        href="https://github.com/{{site.github_username}}"
                        class="email-link"
                    >
                        <i class="fab fa-github"></i>
                        <!-- Font Awesome Mail Icon -->
                    </a>
                </span>
                <span>
                    <a
                        href="https://scholar.google.com/citations?user={{site.google_scholar}}"
                        class="email-link"
                    >
                        <i class="fas fa-graduation-cap"></i>
                        <!-- Font Awesome Mail Icon -->
                    </a>
                </span>
                <span>
                    <a
                        href="https://linkedin.com/in/{{site.linkedin}}"
                        class="email-link"
                    >
                        <i class="fab fa-linkedin"></i>
                        <!-- Font Awesome Mail Icon -->
                    </a>
                </span>
            </aside>

            <!-- Main Content -->
            <main class="content">{{ content }}</main>
        </div>
    </body>
</html>
