<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{site.title}}</title>
        <link
            rel="stylesheet"
            href="{{ '/assets/css/custom.css' | relative_url }}"
        />
    </head>
    <body>
        <div class="header">
            <span class="left"><a href="{{site.url}}">{{site.title}}</a></span>
            <span class="right"><a href="{{site.url}}/cv/">CV</a></span>
        </div>

        <hr />
        <div class="container">
            <!-- Sidebar -->
            <aside class="sidebar">
                <img
                    src="{{site.url}}/images/profile.jpeg"
                    alt="Your Name"
                    class="sidebar-image"
                />
                <h3>{{site.title}}</h3>
                <p class="sml-text">{{site.description}}</p>
                <p class="sml-text">
                    Email: <a href="mailto:{{site.email}}">{{site.email}}</a>
                </p>
            </aside>

            <!-- Main Content -->
            <main class="content">{{ content }}</main>
        </div>
    </body>
</html>
